.login__container {
  padding: 50px 0; }
  .login__container h1 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center; }
  .login__container input {
    height: 40px; }
  .login__container label {
    padding-top: 10px; }
  .login__container button {
    display: block;
    padding: 7px 15px;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    font-size: 1.6rem; }
