<div class="footer body">
    <div class="grid">
        <div class="footer__contain">
            <div class="contact">
                <h1>Liên hệ với chúng tôi nếu có thắc mắc</h1>
                <ul>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <h4>0387667382</h4>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <h4>nguyenthanhanqt@gmail.com</h4>
                    </li>
                    <li>
                       <i class="fa-solid fa-location-dot"></i>
                        <h4>Triệu Phong - Quảng Trị</h4>
                    </li>
                </ul>
            </div>
            <div class="pages">
                <h1 class="page__title">
                    Các trang có thể truy cập
                </h1>
                <ul>
                    <li>
                        <i class="fa-regular fa-newspaper"></i>
                        <h4>Giới thiệu</h4>
                    </li>
                    <li>
                        <i class="fa-solid fa-briefcase"></i>
                        <h4>Công việc</h4>
                    </li>
                    <li>
                        <i class="fa-solid fa-calendar-days"></i>
                        <h4>Lên lịch</h4>
                    </li>
                </ul>
            </div>
            <div class="social_media">
                <h1>Liên hệ với chúng tôi qua mạng xã hội</h1>
                <ul>
                    <li class="facebooke">
                        <a href="https://www.facebook.com/an.thanh.7921975"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="tiktok">
                        <a href="https://www.tiktok.com/@anthanh904"><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/an.thanh.7921975/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>