<div class="home">
    <div class="contain__home home__familiar-css">
        <h1 class="title">
            Quản lý công việc là chìa khóa dẫn đến thành công
        </h1>
        <p class="decription">
            Hãy đề chúng tôi giúp bạn quản lý công việc, san sẽ những áp lực cùng bạn
        </p>
    </div>
    <div class="introduction home__familiar-css">
        <h1>Bạn muốn biết thêm thông tin về chúng tôi?</h1>
        <p>
            Hãy nhấn vào phần giới thiệu bên trên hoặc nhấn vào nút bên dưới để biết thêm các thông tin
            cần thiết.
        </p>
        <button>
            <a href="/introduction">Đi tới trang Giới thiệu</a>
        </button>
    </div>
    <div class="timetable home__familiar-css">
        <div class="info">
                <h1>Lịch trình hôm nay có gì nào?</h1>
                <p>Kiểm tra lịch trình để có sự chuẩn bị hoàn hảo cho một ngày mới tuyệt vời</p>
                <button>
                    <a href="/timetable">Xen lịch trình</a>
                </button>
        </div>
        <img src="/image/home/timetable.png" alt="lịch trình" />
    </div>
    <div class="schedule home__familiar-css">
        <img src="/image/home/schedule.png" alt="kiểm tra lịch" srcset=""> 
        <div class="info">
            <h1>Bạn đã có lịch trình công việc cho hôm nay và tương lai?</h1>
            <p>Hãy thêm nó vào lịch trình của bạn để chúng tôi giúp bạn quản lý chúng</p>
            <button>
                <a href="/schedule">Xen lịch trình</a>
            </button>
        </div>
    </div>
</div>